.popUpContainer{
    display: flex;
    align-items: center;
    height: 300px;
    justify-content: space-between;
    overflow: hidden;
    gap: 15px;
}
.popUpImg{
    flex: 1;
    height: 100%;
    position: relative;
    border-radius: 15px;
}
.popUpImg img{
    object-fit: contain;
}
